body {
    margin: 0;
    width: 100vw;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    text-align: center;
}
a:link, a:hover, a:active, a:visited {
    color: black;
    text-decoration: none;
    text-align: center;
}
a div {
    width: 20vw;
    height: 10vh;
    background-color: aqua;
    margin: 1vw;
}
#github-pages, #repositories {
    display: inline-block;
}